<html>
    <head>
        <title>{{ title }}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">

            {% block content %}{% endblock %}
        </div>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>