{% extends "app.twig" %}

{% block content %}
    <div class="row col-12">
        <form action="{{ url('process') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileToProcess">Insira o Arquivo a Ser Processado</label>
                <input type="file" class="form-control-file" name="fileToProcess" id="fileToProcess">
            </div>
            <button type="submit" class="btn btn-secondary">Enviar</button>
        </form>
    </div>
{% endblock %}