{% extends "app.twig" %}

{% block content %}
    <hr>
    <div class="row col-12">
        <div class="col-3">
            <a href="products">
                <button type="button" class="btn btn-primary">Produto</button>
            </a>
        </div>
        <div class="col-3">
            <a href="types">
                <button type="button" class="btn btn-primary">Tipo de Produto</button>
            </a>
        </div>
        <div class="col-3">
            <a href="rates">
                <button type="button" class="btn btn-primary">Taxas</button>
            </a>
        </div>
        <div class="col-3">
            <a href="sales">
                <button type="button" class="btn btn-primary">Venda</button>
            </a>
        </div>
    </div>
    <hr>
{% endblock %}